<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">

        <h1>Lethal Products Shopping</h1>
        <br><br>
        
        <form method="POST" data-th-action="@{/login}" data-th-object="${userInfo}">

            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" data-th-field="*{username}">
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}"></div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gender:</label>
                <input type="text" class="form-control" name="gender" data-th-field="*{gender}">
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('gender')}" data-th-errors="*{gender}"></div>
            
            <div class="mb-3">
                <label for="telephone" class="form-label">Telephone No:</label>
                <input type="text" class="form-control" name="telephone" data-th-field="*{telephone}">
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('telephone')}" data-th-errors="*{telephone}"></div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>